h4 {
	font-size: 28px;	
	color: #2f3542;
	text-align: center;
}



#header{
	background-color: #aaa69d;
	border-color: #aaa69d;
	border-style: solid;
}
body {
	background-color: #f7f1e3;
	font-family: "Calibri";
	font-size: 20px;
}
p{
	color: #84817a;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 20px;

}

a{
    text-decoration: none;
    font-size:25px;
    color: #84817a;
    font-weight: bold;
    font-family: "Georgia";
    float: left;
    padding: 4px;
}