h4 {
	font-size: 28px;	
	text-align: center;
}

a{
	text-align: left;
	float: left;
}

#header{
	background-color: #006064;
	color: white;
	border-style: solid;

}
body {
	background-color: #0097A7;
	font-family: "Comic Sans MS";
	font-size: 20px;
}