body {
	background-color: #dfe4ea;
	font-family: "Courier New";
	font-size: 20px;
}
h1 {
	font-size: 28px;
	background-color: #0277BD;
	color: #c7ecee;
	border-style: solid;
	text-align: center;
}
img{
	width: 600px;
    height: 450px;
}
div#image{
	margin: auto;
    border-style: solid;
    border-color: #2f3542;
    width: 600px;
    height: 500px;
    background: #2f3542;
}
p#caption{
	color: #f1f2f6;
	text-align: center;
}


div#links{
	margin: auto;
	width: 300px;
    height: 500px;
    font-weight: bold;
}
a{
	color:#2f3542;
    text-decoration: none;
    font-size:28px;
    line-height: 2;
    padding: 5px;
}

