body {
	background-color: #CAD3C8;
	font-family: "Helvetica";
	font-size: 18px;
}

.skills{
	font-size: 18px;
	line-height: 0.6;
	font-style: italic;
	padding-left: 5px;
}

.activities{
	color: #424242;
	line-height: 2;
}

.work-place{
	font-weight: bold;
	font-family: "Times New Roman";
}

.work-title{
	line-height: 0;
	font-weight: bold;
	font-family: "Courier New";
	color:#263238;
}


h1{
	text-align: center;
	border-color: #84817a;
	border-style: solid;
	color: white;
	background-color: #84817a;
}

h3{
	border-color: #aaa69d;
	border-style: solid;
	color: #2C3A47;
	background-color: #aaa69d;
	font-size: 24px;
}

