body {
	background-color: #BDBDBD;
	font-family: "Helvetica";
	font-size: 18px;
}

.skills{
	font-size: 18px;
	line-height: 0.6;
	font-style: italic;
}

.activities{
	color: #424242;
	border-color: #E0E0E0;
	border-style: solid;
	line-height: 2;
}

.work-place{
	font-weight: bold;
	font-family: "Times New Roman";
}

.work-title{
	line-height: 0;
	font-weight: bold;
	font-family: "Courier New";
	color:#263238;
}

h1{
	text-align: center;
	border-color: white;
	border-style: solid;
	color: white;
	background-color: gray;
}

h3{
	border-color: #9E9E9E;
	border-style: solid;
	color: #607D8B;
	background-color: #9E9E9E;
	font-size: 24px;
}

